
<div class="container">
  <div class="row">
    <header class="col-md-8 col-md-offset-2">
      {% if header %}
      {{ header }}
      {% endif %}
    </header>
  </div>
</div>
<div class="section-content">
  <div class="container">
    <div class="review-carousel-2 js-review-carousel-2">
      {% for row in rows %}
      {{ rows }}
      {% endfor %}
    </div>
  </div>
</div>
   